#gemboard {
    width:336px;
    height:336px;
    position:relative;
    display:inline-block !important;
    margin:0;
    padding:0;
    overflow:hidden;
}

.gem {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    display: block !important;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}

.transitionable {
    transition-property: left, top, opacity;
    transition-duration: 0.1s;
    -webkit-transition-property: left, top, opacity;
    -webkit-transition-duration: 0.1s;
    -moz-transition-property: left, top, opacity;
    -moz-transition-duration: 0.1s;
    -ms-transition-property: left, top, opacity;
    -ms-transition-duration: 0.1s;
}

.gem.destroyed {
    opacity: 0;
}

.gem.bunny.color-0 {
    background-image: url('/g/bunny_0.png') ;
}

.gem.bunny.color-1 {
    background-image: url('/g/bunny_1.png') ;
}

.gem.bunny.color-2 {
    background-image: url('/g/bunny_2.png') ;
}

.gem.bunny.color-3 {
    background-image: url('/g/bunny_3.png') ;
}

.gem.bunny.color-4 {
    background-image: url('/g/bunny_4.png') ;
}

.gem.bunny.color-5 {
    background-image: url('/g/bunny_5.png') ;
}

.gem.farmer.color-0 {
    background-image: url('/g/farmer_0.png') ;
}

.gem.farmer.color-1 {
    background-image: url('/g/farmer_1.png') ;
}

.gem.farmer.color-2 {
    background-image: url('/g/farmer_2.png') ;
}

.gem.farmer.color-3 {
    background-image: url('/g/farmer_3.png') ;
}

.gem.farmer.color-4 {
    background-image: url('/g/farmer_4.png') ;
}

.gem.farmer.color-5 {
    background-image: url('/g/farmer_5.png') ;
}