#tugboard {
    position:relative;
    width:288px;
    height:144px;
    display:block !important;
    margin:0;
    padding:0;
    overflow:hidden;
    left:-15px;
    margin-left:auto;
    margin-right:auto;
    background-image: url('/arena.png');
    background-size: 372px 288px;
    background-position: center bottom;
}

.unit {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    border: none;
    display: block !important;
    position: absolute;
    overflow: hidden;
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.25s;
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.25s;
    -moz-transition-property: transform, opacity;
    -moz-transition-duration: 0.25s;
    -ms-transition-property: -ms-transform, opacity;
    -ms-transition-duration: 0.25s;
}

.unit.bunny {
    background-size: 144px 48px;
    -webkit-animation: bunnyWalking 0.6s steps(3) infinite;
    -moz-animation: bunnyWalking 0.6s steps(3) infinite;
    -ms-animation: bunnyWalking 0.6s steps(3) infinite;
    -o-animation: bunnyWalking 0.6s steps(3) infinite;
    animation: bunnyWalking 0.6s steps(3) infinite;
}

.unit.bunny.destroyed {
    background-size: 48px 48px !important;
    -webkit-animation: bunnyDying 0.1s steps(2) 0.25s infinite;
    -moz-animation: bunnyDying 0.1s steps(2) 0.25s infinite;
    -ms-animation: bunnyDying 0.1s steps(2) 0.25s infinite;
    -o-animation: bunnyDying 0.1s steps(2) 0.25s infinite;
    animation: bunnyDying 0.1s steps(2) 0.25s infinite;
}

/*Unclear why this should be 16 steps and not 8...*/
.unit.farmer {
    background-size: 384px 48px;
    -webkit-animation: farmerWalking 1.4s steps(16) infinite;
    -moz-animation: farmerWalking 1.4s steps(16) infinite;
    -ms-animation: farmerWalking 1.4s steps(16) infinite;
    -o-animation: farmerWalking 1.4s steps(16) infinite;
    animation: farmerWalking 1.4s steps(16) infinite;
}

/*CSS interpretation of background size w.r.t. animations is ambiguous*/
.unit.farmer.destroyed {
    background-size: 464px 64px !important;
    -webkit-animation: farmerDying 0.5s steps(7) 0.25s 0;
    -moz-animation: farmerDying 0.5s steps(7) 0.25s 0;
    -ms-animation: farmerDying 0.5s steps(7) 0.25s 0;
    -o-animation: farmerDying 0.5s steps(7) 0.25s 0;
    animation: farmerDying 0.5s steps(7) 0.25s 0;
}

.unit.farmer.color-0 {
    background-image: url("/t/farmer_00000.png");
}

.unit.farmer.color-1 {
    background-image: url("/t/farmer_00001.png");
}

.unit.farmer.color-2 {
    background-image: url("/t/farmer_00002.png");
}

.unit.farmer.color-3 {
    background-image: url("/t/farmer_00003.png");
}

.unit.farmer.color-4 {
    background-image: url("/t/farmer_00004.png");
}

.unit.farmer.color-5 {
    background-image: url("/t/farmer_00005.png");
}

.unit.farmer.color-0.destroyed {
    background-image: url("/t/farmer-dying_00000.png");
}

.unit.farmer.color-1.destroyed {
    background-image: url("/t/farmer-dying_00001.png");
}

.unit.farmer.color-2.destroyed {
    background-image: url("/t/farmer-dying_00002.png");
}

.unit.farmer.color-3.destroyed {
    background-image: url("/t/farmer-dying_00003.png");
}

.unit.farmer.color-4.destroyed {
    background-image: url("/t/farmer-dying_00004.png");
}

.unit.farmer.color-5.destroyed {
    background-image: url("/t/farmer-dying_00005.png");
}

.unit.bunny.color-0 {
    background-image: url("/t/bunny_00000.png");
}

.unit.bunny.color-1 {
    background-image: url("/t/bunny_00001.png");
}

.unit.bunny.color-2 {
    background-image: url("/t/bunny_00002.png");
}

.unit.bunny.color-3 {
    background-image: url("/t/bunny_00003.png");
}

.unit.bunny.color-4 {
    background-image: url("/t/bunny_00004.png");
}

.unit.bunny.color-5 {
    background-image: url("/t/bunny_00005.png");
}

.unit.bunny.color-0.destroyed {
    background-image: url("/t/bunny-dying_00000.png");
}

.unit.bunny.color-1.destroyed {
    background-image: url("/t/bunny-dying_00001.png");
}

.unit.bunny.color-2.destroyed {
    background-image: url("/t/bunny-dying_00002.png");
}

.unit.bunny.color-3.destroyed {
    background-image: url("/t/bunny-dying_00003.png");
}

.unit.bunny.color-4.destroyed {
    background-image: url("/t/bunny-dying_00004.png");
}

.unit.bunny.color-5.destroyed {
    background-image: url("/t/bunny-dying_00005.png");
}

@-webkit-keyframes farmerWalking {
    from { background-position:    768px; }
    to { background-position: 0px; }
}

@-moz-keyframes farmerWalking {
    from { background-position:    768px; }
    to { background-position: 0px; }
}

@-ms-keyframes farmerWalking {
   from { background-position:    768px; }
     to { background-position: 0px; }
}

@-o-keyframes farmerWalking {
    from { background-position:    768px; }
    to { background-position: 0px; }
}

@keyframes farmerWalking {
    from { background-position:    768px; }
    to { background-position: 0px; }
}

@-webkit-keyframes farmerDying {
    from { background-position:    -464px; }
    to { background-position: 0px; }
}

@-moz-keyframes farmerDying {
    from { background-position:    -928px; }
    to { background-position: 0px; }
}

@-ms-keyframes farmerDying {
   from { background-position:    -928px; }
     to { background-position: 0px; }
}

@-o-keyframes farmerDying {
    from { background-position:    -928px; }
    to { background-position: 0px; }
}

@keyframes farmerDying {
    from { background-position:    -928px; }
    to { background-position: 0px; }
}

@-webkit-keyframes bunnyWalking {
    from { background-position:    0px; }
    to { background-position: 288px; }
}

@-moz-keyframes bunnyWalking {
    from { background-position:    0px; }
    to { background-position: 288px; }
}

@-ms-keyframes bunnyWalking {
   from { background-position:    0px; }
     to { background-position: 288px; }
}

@-o-keyframes bunnyWalking {
    from { background-position:    0px; }
    to { background-position: 288px; }
}

@keyframes bunnyWalking {
    from { background-position:    0px; }
    to { background-position: 288px; }
}

@-webkit-keyframes bunnyDying {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-moz-keyframes bunnyDying {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-ms-keyframes bunnyDying {
   from { opacity: 1; }
     to { opacity: 0; }
}

@-o-keyframes bunnyDying {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes bunnyDying {
    from { opacity: 1; }
    to { opacity: 0; }
}